* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maxx {
  border: 2px solid rgb(248, 28, 28);
}

.image {
  background-image: url('./assets/hero-1.jpg');
}

.card {
  margin-top: 2em;
  display: grid;
  grid-template-rows: min-content;
  gap: 1em;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  margin-left: 2rem;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
}

